<p id="notice"><%= notice %></p>

<header class="content__title">
  <h1>Customers</h1>
</header>

<div class="toolbar">
  <div class="toolbar__label"><span class="hidden-xs-down">Total </span><%= @customers.all.size %> Customers</div>

  <div class="actions">
    <%= link_to 'New Customer', new_customer_path %>
  </div>

  <div class="toolbar__search">
    <input type="text" placeholder="Search...">
    <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-ma-action="toolbar-search-close"></i>
  </div>
</div>

<div class="row lightbox photos">
  <% @customers.each do |customer| %>
    <%= link_to customer, class: "col-md-2 col-4" do %>
      <div class="lightbox__item photos__item">
        <%= customer.name %>
        <%= image_tag set_img(customer) %>
      </div>
    <% end %>
  <% end %>
</div>
