<p id="notice"><%= notice %></p>

<header class="content__title">
  <h1>Products</h1>
</header>

<div class="toolbar">
  <div class="toolbar__label"><span class="hidden-xs-down">Total </span><%= @products.all.size %> Products</div>

  <div class="actions">
    <%= link_to 'New Product', new_product_path %>
  </div>

  <div class="toolbar__search">
    <input type="text" placeholder="Search...">
    <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-ma-action="toolbar-search-close"></i>
  </div>
</div>

<div class="row lightbox photos">
  <% @products.each do |products| %>
    <%= link_to products, class: "col-md-2 col-4" do %>
      <div class="lightbox__item photos__item">
        <%= products.name %>
        <%= image_tag set_img(products) %>
      </div>
    <% end %>
  <% end %>
</div>
