<header class="content__title">
  <h1>users</h1>
</header>

<div class="toolbar">
  <div class="toolbar__label"><span class="hidden-xs-down">Total </span><%= @users.all.size %> users</div>

  <div class="actions">
    <%= link_to 'New User', new_user_management_path %>
  </div>

  <div class="toolbar__search">
    <input type="text" placeholder="Search...">
    <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-ma-action="toolbar-search-close"></i>
  </div>
</div>

<div class="row lightbox photos">
  <% @users.each do |user| %>
    <%= link_to user_management_path(user), class: "col-md-2 col-4" do %>
      <div class="lightbox__item photos__item">
        <%= user.user_profile.name %>
        <%= image_tag set_img(user) %>
      </div>
    <% end %>
  <% end %>
</div>

