<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<p>
  <strong>Products:</strong>
  <%= @sale.product_ids %>
</p>

<p>
  <strong>Date sale:</strong>
  <%= @sale.date_sale %>
</p>

<p>
  <strong>Outgoing Invoice</strong>
  <%= image_tag @sale.outgoing_invoice %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
